* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 위쪽 바 */
.menu {
    width: 1000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-top: 40px;
}
.menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    position: relative;
    z-index: 10;
    /* border-bottom: 1px solid black; */
}
.menu a {
    color: black;
    text-decoration: none;
}
.submenu > li {
    line-height: 50px;
}
.submenu {
    height: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}
.a:hover {
    border-bottom: 1px solid black;
}
.menu > li:hover {
    background-color: white;
    /* border: 1px solid black; */
    transition-duration: 0.5s;
}
.menu > li:hover .submenu {
    height: 150px;
    transition-duration: 1s;
    background-color: rgba(170, 187, 175, 0.315);
    border-radius: 10px;
}

/* 전체적인 css */
header {
    text-align: center;
    border-bottom: 2px solid rgb(94, 95, 95);
    height: 150px;
}
body {
    margin: 0px;
}
h1 {
    text-align: center;
}
.menuu {
    text-align: center;
}
.menuu ul li {
    display: inline;
    text-transform: uppercase;
}
/* 왼쪽 바 */
aside {
    float: left;
    width: 380px;
    /*height: 1177px;*/
    height: 1300px;
    border-right: 2px solid black;
}
/* 
.nav2 {
    width: 300px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 2px solid rgb(170, 187, 175);
    /* border: 2px solid black; */
    /*background-color: rgba(170, 187, 175, 0.231);
    /* border: 4px solid rgb(170, 187, 175); */
    /*border-radius: 15px;
    /* background-color: rgba(170, 187, 175, 0.254); */
 /*}  



/* 배경 이미지 */
section {
    float: right;
    text-align: center;
}
img {
    /*height: 1177px;*/
    height: 1300px;
    width: 2470px;
}

